#TARGET LIST FOR NETWORK DEVICES ONLY
#FIREWALL, ROUTER, SWITCH, ACCESS POINT, ETC
#IT WILL RUN BLACKBOX-EXPORTER ICMP AND SNMP-EXPORTER JOB AGAINST THEM
#SO PLEASE MAKE SURE THE TARGET HERE IS ABLE TO BE PINGED (DUH) AND HAVE SNMP AVAILABLE
#ON THE DEVICE SIDE, PLEASE MAKE SURE THAT IT HAVE 'public' SNMP COMMUNITY ON (AT LEAST) READ


- targets:
    - 10.100.1.1
  labels:
    DEVICE_TYPE: 'ROUTER'
    HOSTNAME: 'router'
    LOCATION: 'location1'

- targets:
    - 10.100.1.2
  labels:
    DEVICE_TYPE: 'SWITCH'
    HOSTNAME: 'sw-core'
    LOCATION: 'location1'
