#TARGET LIST FOR SERVER ONLY
#IT WILL RUN BLACKBOX-EXPORTER ICMP AND NODE-EXPORTER JOB AGAINST THEM
#SO PLEASE MAKE SURE THE TARGET HERE IS ABLE TO BE PINGED AND HAVE INSTALLED NODE-EXPORTER

- targets:
    - 10.100.10.11
  labels:
    DEVICE_TYPE: 'SERVER'
    HOSTNAME: 'svr-1'
    FQDN: 'svr-1.domain.tld'
    LOCATION: 'location1'

- targets:
    - 10.100.11.12
  labels:
    DEVICE_TYPE: 'SERVER'
    HOSTNAME: 'svr-2'
    FQDN: 'svr-2.dmian.tld'
    LOCATION: 'location2'
