# TARGET LIST FOR WEB SERVICES HOST ONLY (AND NOT THEIR ENDPOINT)
# IT WILL RUN BLACKBOX-EXPORTER ICMP, HTTP GET, AND DNS PROBE JOB AGAINST THEM
# SO PLEASE MAKE SURE THE TARGET HERE IS ABLE TO BE PINGED, IS A HTTP/HTTPS WEB SERVER,
# AND HAVE PROPER DOMAIN IN YOUR TARGETED DNS SERVER
# YOU CAN DEFINE THE DNS SERVER ON THE "dns_server.yaml" FILE
# FOR WEB SERVICES ENDPOINT/PATH, EDIT THE "web_services_endpoint_targets.yaml" FILE


- targets:
    - www.google.com
  labels:
    SERVICE_TYPE: 'PUBLIC SERVICES'
    FQDN: 'www.google.com'
