#docker.env

#GENERAL
ansible_host={{ ansible_host }}
target_host_base_domain={{ target_host_base_domain }}

#IMAGE VERSION
traefik_image_version={{ traefik_image_version }}
grafana_image_version={{ grafana_image_version }}
prometheus_image_version={{ prometheus_image_version }}
snmp_exporter_image_version={{ snmp_exporter_image_version }}
blackbox_exporter_image_version={{ blackbox_exporter_image_version }}
node_exporter_image_version={{ node_exporter_image_version }}

#CONTAINER ENV
grafana_admin_user={{ grafana_admin_user }}
grafana_admin_password={{ grafana_admin_password }}
